<div class="color_count">
    <div class="count_list flex">
        <div class="count_item column orange">
            <div class="count">362</div>
            <div class="name">社区总数</div>
        </div>
        <div class="count_item column blue">
            <div class="count">362</div>
            <div class="name">网格数</div>
        </div>
        <div class="count_item column red">
            <div class="count">362</div>
            <div class="name">网格员总数</div>
        </div>
    </div>
</div>