<div class="build_up column">
    <div class="title">
        <app-title [title]="title"></app-title>
    </div>
    <div class="chart flex1">
        <div class="count_list flex">
            <div class="count_item">
                <div class="head flex">营业面积</div>
                <div class="body flex">
                    <div>
                        <span class="number">32</span>
                        <span class="unit">万平</span>
                    </div>
                </div>
            </div>

            <div class="count_item">
                <div class="head flex">租金总额</div>
                <div class="body flex">
                    <div>
                        <span class="number">623</span>
                        <span class="unit">万元</span>
                    </div>
                </div>
                
            </div>

            <div class="count_item">
                <div class="head flex">缴纳企业</div>
                <div class="body flex">
                    <div>
                        <span class="number">61</span>
                        <span class="unit">户</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="echarts"></div>
    </div>
</div>