<div class="assess_content column">
    <div class="assess_title">
        <app-title [title]="title"></app-title>
    </div>
    <div class="assess_body flex1">
        <div class="event_report">
            <app-event-report></app-event-report>
        </div>
        <div class="event_make">
            <app-event-make></app-event-make>
        </div>
        <div class="event_over">
            <app-event-over></app-event-over>
        </div>
        <div class="street_name">
            <div class="street column">
                <img src="assets/image/one@2x.png" alt="">
                <div class="one">临江街道</div>
                <div class="two">白杨街道</div>
                <div class="three">新湾街道</div>
            </div>
        </div>
    </div>
</div>