.house_hold {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba($color: #021243, $alpha: 0.7), rgba($color: #0c3f8f, $alpha: 0.7));
    .chart {
        color: #fff;
       .top_list {
           height: 30%;
           width: 100%;
           box-sizing: border-box;
           padding: 2.5% 1%;
           .top_title {
               width: 17%;
               height: 100%;
               align-items: center;
               justify-content: center;
               color: #07ffff;
               .en {
                   font-weight: 700;
                   font-size: 2.5vh;
               }
               .cn {
                    font-size: 1.8vh;
               }
           }
           .top_item {
               width: 83%;
               height: 100%;
               
               .top {
                   width: 19%;
                   height: 100%;
                   align-items: center;
                   justify-content: center;
                   background-color: rgba($color: #fff, $alpha: 0.1);
                   margin: 0 0.5%;
                   cursor: pointer;
                   .name {
                       color: #0675d9;
                   }
                   .count {
                       font-size: 1.25vw;
                   }
               }

               .checked {
                   background-color: #008dfe;
                   .name {
                       color: #fff;
                   }
               }
           }
       }
       #echarts {
           height: 70%;
           width: 100%;
       }
    }
}