.public_title {
    color: #ffffff;
    width: 100%;
    .line {
        border-radius: 0.5vh 0.5vh 0 0;
        background-color: #008af9;
        width: 100%;
        height: 0.5vh;
    }
    .bg {
        text-align: center;
        width: 6vw;
        height: 3vh;
        line-height: 3vh;
        border-radius: 0 0 0 1vh;
        background-image: linear-gradient(to right, #146ee9 , #041547);
    }
}

@media screen and (max-width: 1700px) {
    .public_title {
        .bg {
            width: 8vw;
        }
    }
}