.admin_home {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 20px 10px;
    box-sizing: border-box;
    background: #f5f7f9;
    .home_card {
        width: 100%;
        height: auto;
        ul {
            height: auto;
            flex-wrap: wrap;
            justify-content: space-between;
            li {
                width: 16.66666667%;
                height: 100%;
                height: 120px;
                padding: 0 10px 10px 10px;
                box-sizing: border-box;
                
                .border {
                    height: 100%;
                    width: 100%;
                    border-radius: 4px;
                    overflow: hidden;
                    background-color: #fff;
                    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);

                    .picture {
                        width: 36%;
                        height: 100%;
                        display: table;
                        float: left;
                        i {
                            display: table-cell;
                            vertical-align: middle;
                            font-size: 36px;
                            color: #fff;
                        }
                    }
                    .text {
                        width: 64%;
                        float: left;
                        text-align: center;
                        .number {
                            font-size: 50px;
                        }
                    }
                }
            }
        }
    }
    .home_chart1 {
        .chart1 {
            width: 33.33333333%;
            float: left;
        }
        .chart2 {
            width: 66.66666667%;
            float: left;
        }
    }
    .chart {
        box-sizing: border-box;
        padding: 0 10px 20px 10px;
        .chart_item {
            background-color: #fff;
            border-radius: 4px;
            padding: 10px;
            box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
            .ec {
                width: 100%;
                height: 300px;
            }
        }
    }
    .home_chart2 {
        width: 100%;
    }
}

@media screen and (max-width: 1440px) {
    .admin_home .home_card ul li {
        width: 33.3%;
    }
    .admin_home .home_chart1 .chart {
        width: 100%;
    }
}