<div class="admin_home">
    <!-- 计数统计类 -->
    <div class="home_card">
        <ul class="flex">
            <li *ngFor="let item of countData" class="flex">
                <div class="border clearfix">
                    <div class="picture" [ngStyle]="{'background': item.bg}">
                        <i nz-icon [nzType]="item.icon" nzTheme="outline"></i>
                    </div>
                    <div class="text">
                        <div class="number">{{ item.number }}</div>
                        <div class="name">{{ item.name }}</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- 中间统计模块 -->
    <div class="home_chart1 clearfix">
        <div class="chart1 chart">
            <div class="chart_item">
                <div id="HomeCharts1" class="ec"></div>
            </div>
        </div>
        <div class="chart2 chart">
            <div class="chart_item">
                <div id="HomeCharts2" class="ec"></div>
            </div>
        </div>
    </div>
    <!-- 底层统计模块 -->
    <div class="home_chart2 chart">
        <div class="chart_item">
            <div id="HomeCharts3" class="ec"></div>
        </div>
    </div>
</div>