<div class="young_strong column">
    <div class="title">
        <app-title [title]="title"></app-title>
    </div>
    <div class="flex1 column" >
        <div class="circle_list flex">
            <div class="circle_item">
                <div class="circle">
                    <img src="assets/image/circle.png" alt="">
                    <div class="count">358</div>
                </div>
                <div class="name">少年</div>
            </div>
            <div class="circle_item">
                <div class="circle">
                    <img src="assets/image/circle.png" alt="">
                    <div class="count">2358</div>
                </div>
                <div class="name">青年</div>
            </div>
            <div class="circle_item">
                <div class="circle">
                    <img src="assets/image/circle.png" alt="">
                    <div class="count">1358</div>
                </div>
                <div class="name">老年</div>
            </div>
        </div>
        <div class="chart flex1">
            <div id="echarts"></div>
        </div>
    </div>
</div>