<div class="enterprise column">
    <div class="title">
        <app-title [title]="title"></app-title>
    </div>
    <div class="chart flex1">
        <div class="count_list flex">
            <div class="pie_chart">
                <div id="PieCharts"></div>
            </div>
            <div class="top_list column">
                <div class="top_item column">
                    <div class="top_type">年度企业数增长TOP1</div>
                    <div class="top_name">新湾街道</div>
                </div>
                <div class="top_item column">
                    <div class="top_type">年度企业类型占比TOP1</div>
                    <div class="top_name">批发零售</div>
                </div>
            </div>
        </div>
        <div id="echarts"></div>
    </div>
</div>