.admin_header {
    width: 100%;
    height: 68px;
    background-color: #fff;
    box-shadow: 0 0 4px #ccc;
    .swidch {
        height: 100%;
        float: left;
        padding: 20px;
        justify-content: center;
        align-items: center;
        transform: rotate(0);
        transition: transform 0.2s ease-in-out;
    }
    .close {
        transform: rotate(90deg);
    }
    .right_menu {
        float: right;
        height: 100%;
        align-items: center;
        .enlarge {
            font-size: 1.625em;
            margin-right: 0.625em;
            cursor: pointer;
        }
        .picture {
            cursor: pointer;
        }
    }
}